<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creatr ID</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <h4> Create an ID card for guest</h4>
        <form method="post" action="/education"class="p-4 shadow">
            {% csrf_token %}
            <input type="text" name="student_name"required class="form-control my-2"placeholder="student_name">
            <input type="text" name="school_name"required class="form-control my-2"placeholder="school_name">
            <input type="number"name="graduation_year"required class="form-control my-2"placeholder="graduation_year">
            <input type="text" name=""required class="form-control my-2"><button class="btn btn-success">Create ID Card</button>
        </form>
       
    </div>
    
</body>
</html>