<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


</head>
<body>
    <a href="education.html">Link to Education!</a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

</body>
</html>
</head><script src="https://kit.fontawesome.com/9f8fe9068a.js" crossorigin="anonymous"></script>
<body>
    <title>Portfolio_Site</title>
    
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">PORTFOLIO</a>
  </div>
</nav>
<div class="jumbotron">
            FILL IN YOUR INFORMATION <i class="fa-solid fa-pen-nib"></i>
   
<form method="post" action="/"class="p-2 flex flex-col gap-2">
    {% csrf_token %}
    <p class="text-muted"> Provide the following information</p>
    <div class="my-2">
        <label for=""> STUDENT_NAME</label><i class="fa-solid fa-circle-user"></i>
        <input type="text"required name="Student_Name"class="form-control">
    </div>
    <div class="my-2">
        <label for="">TAGLINE</label><i class="fa-solid fa-user-tag"></i>
        <input type="text"required name="Aspiring Django Developer" class="form-control">
        </div>
    <button class="btn btn-success" type="submit"> SUBMIT </button>
</form>
<div class ="card rounded-lg m-4 shadow p-4">
    <div class="card-header bg-white text-center">
        ID CARDS
    </div>
    <div class="row">
    <div class="col-15">
    <h4>Student_name:{{name}}</h4>
    <h4>Tagline:{{year}}</h4>
    </div>
    <div class="col-2"> </div>
    <img src="">
</html>